name: deploy

on: 
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - run: |
          yarn --registry=https://registry.npm.taobao.org
          yarn build

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{secrets.BLOG_GITHUB_TOKEN}}
          publish_branch: gh-pages
          cname: jwchan.cn
          publish_dir: ./docs/.vuepress/dist